Data/*
Notes/*
Graph/*
Literature/*
*.DS_Store
Results/*
*.docx
.Rproj.user/*
Writing/cache/*
Writing/figure/*
Writing/*.pdf
Writing/*.Rnw
Writing/*.rds
Writing/*.docx
Writing/*.aux
Writing/*.tex
Writing/*.bbl
Writing/*.log
Writing/*.gz
Writing/*.html
Writing/*.blg
Writing/*.out
Writing/manuscript_*/*
Writing/office_down_*/*
Writing/office_down_*
Writing/*.pptx
.Rproj.user
